.content {
    display: flex;
}

.poster {
    background-color: yellow;
    width: 20%;
}

.poster img {
    width: 100%;
}

.movieInfo {
    background-color: lightblue;
    width: 80%;
    float: right;
}

.movieStats h3 {
    font-style: italic;
}